.down-arrow {
  margin-left: .6rem;
  animation: down-arrow 1s infinite; 
}

@keyframes down-arrow {
  0% {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }
}

.negative-margin {
  margin-top: -150px;
}